         <!-- This is the footer -->
        <!-- The footer goes inside the body but not always -->
        <hr>
        <footer >                        
	        <div class="aligned"> 
		         <img id="imgfooter" src="img/csumb1.png" alt="CSUMB logo" > 

		        <span>CST336: Internet Programming. 2020&copy; <br>Cisneros Homework Assignment 1 <br /></span> 
	        </div>            
        </footer>
        <!-- closing footer -->

</body>
</html>