<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>AI in Military</title>
        <link href="css/styles.css" rel="stylesheet" type="text/css" />
        </head>

<body>
        <header><img id="imgheader" src="img/military_header.png" alt="Picture of AI in Military"  /></header>
	<hr />
	 <nav>
	        <div class="row">
            <div class="col">
            <a href="/"> Overview </a> <br>
            </div>
            <div class="col">
            <a href="/warfare"> Warfare </a> <br>
            </div>
            <div class="col">
            <a href="/logistics"> Logistics </a> <br>
            </div>
            <div class="col">
            <a href="/intel"> Intelligence </a> <br>
            </div>
            <div class="col">
            <a href="/sources"> Sources </a> <br>
            </div>
            </div>
        </nav>
    <hr>
    <br />
    <br />