<%- include('partials/header.ejs') %>

    <header><img id="imgheader" src="img/military_header.png" alt="Picture of AI in Military"  /></header>
	<hr />
	 <nav>
	        <div class="row">
            <div class="col">
            <a href="/"> Overview </a> <br>
            </div>
            <div class="col">
            <a href="/warfare"> Warfare </a> <br>
            </div>
            <div class="col">
            <a href="/logistics"> Logistics </a> <br>
            </div>
            <div class="col">
            <a href="/intel"> Intelligence </a> <br>
            </div>
            <div class="col">
            <a href="/sources"> Sources </a> <br>
            </div>
            </div>
        </nav>
    <hr>
     <br />
    <br />
    
        <main class="margin">
            <figure>                
                <img src="img/ai.png" alt="Picture of Aircraft" />                
            </figure>

        <div>
            <br />
            <h2 style="text-align:center">Artificial Intelligence in the Military</h2>
            
            <p> Artificial Intelligence (AI) is a rapidly growing field of technology that is making its way into many different industries, 
            such as the Military. Advances in AI, deep-learning, and robotics are enabling new military capabilities that is becoming a 
            significant part of modern warfare. The potential promise of AI is driving militaries around the globe to speed up their 
            research into and development of AI applications. The swift integration of this technology into the military sector has many 
            people questioning what the future of military establishments will look like.</p>
            
            <p> Three military applications that AI is beginning to have a major impact on are:</p>
            
            <ul>
                
                <li><strong>Warfare</strong></li>
                <li><strong>Logistics</strong></li>
                <li><strong>Intelligence</strong></li>
                
            </ul>
                
            <br />
            
            <em>"AI has driven significant economic progress in recent years, and as ever greater levels of investment and talent enter the field,
            more progress should be expected. The number of applications of AI is bound to increase in the future".</em><br />
                                            - Forest E. Morgan, RAND Corporation 
            </div>
            
            <br /><br />            
        </main>

<%- include('partials/footer.ejs') %>