<%- include('partials/header.ejs') %>

    <header><img id="imgheader" src="img/military_header.png" alt="Picture of AI in Military"  /></header>
	<hr />
	 <nav>
            <a href="/"> Overview </a> <br>
            <a href="/warfare"> Warfare </a> <br>
            <a href="/logistics"> Logistics </a> <br>
            <a href="/intel"> Intelligence </a> <br>
            <a href="/sources"> Sources </a> <br>
        </nav>
    <hr>
     <br />
    <br />
        
        <main class="margin">
            <figure>
                
                <img src="img/intel.png" alt="Picture of drones" />
                
            </figure>
            
            <div>
            <br />
            
            <h2 style="text-align:center">Intelligence and Surveillance </h2>
            
            <p>AI techniques are being implemented to increase the accuracy of intelligence and surveillance. Machine learning 
            and computer vision software can be used for surveillance operations. This software has the potential to sort 
            through large sums of data for insights faster than trained human analysts.</p>
            
            <p>The Central Intelligence Agency is incorporating computer “vision” and machine learning algorithms to sort through
            tons of footage to identify hostile activity for targeting. Other programs, such as TRACE, are beginning to us AI 
            techniques to automatically locate and identify targets with the help of Synthetic Radar images. </p>
            
            
            </div>
            
            <br />
            
        </main>

<%- include('partials/footer.ejs') %>