<%- include('partials/header.ejs') %>

        <main class="margin">
            
            <div class="scc">
            <br />
            <a href="http://www.reprogrammingwar.org" class="active">PAX</a>
            <br />
            <br />
            <a href="https://fas.org/sgp/crs/natsec/R45178.pdf" class="active">Congressional Research Service</a>
            <br />
            <br />
            <a href="https://blog.marketresearch.com/8-key-military-applications-for-artificial-intelligence-in-2018" class="active">Market Research</a>
            <br />
            <br />
            <a href="https://www.rand.org/pubs/research_reports/RR3139-1.html" class="active">Rand Corporation </a>
            <br>
            <br />
            
            
            <h3> For more information please contact: </h3>
            <br>
            
            <%- companyName %> <br>
            <%- email %>
            
            <br>
            </div>
            
        </main>

<%- include('partials/footer.ejs') %>